<form action="" class="form-group">
    <div class="form-icon">
        <img src="/assets/images/png/icon-hour.png" alt="">Horario
    </div>
    <h3>Qual o horario que você quer treinar?</h3>
    <div class="radio-wrapper">
        <input type="radio" name="morning" value="morning">
        <label for="morning">Manhã</label>
        <span>06:00h às 12:00h</span>
    </div>

    <div class="radio-wrapper">
        <input type="radio" name="afternoon" value="afternoon">
        <label for="afternoon">Tarde</label>
        <span>12:00h às 18:00h</span>
    </div>

    <div class="radio-wrapper">
        <input type="radio" name="night" value="night">
        <label for="night">Noite</label>
        <span>18:00h às 23:00h</span>
    </div>
    
    <div class="checkbox-wrapper">
        <input type="checkbox" name="show-closed">
        <label for="show-closed">Exibir unidades fechadas</label>
        <span>Resultados Encontrados: {{ results.length }}</span>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-primary">Encontrar Unidades</button>
        <button class="btn btn-secondary">Limpar</button>
    </div>
</form>